.advertisement {
  display: flex;

}

.advertisement__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/cat-gift.jpg");
  width: 100%;
  height: 290px;
  background-color: #6db043;
  margin: 0;
  padding: 66px 60px 43px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
