.card {
  display: flex;
  flex-direction: column;
  border-bottom: none;
  padding: 20px 20px 25px;

  &--products-additional {
    padding: 13px 20px 20px;
  }
}

.card__content-wrapper {
  display: flex;
  margin-bottom: 13px;
}

.card__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 50%;
  min-height: 112px;
}

.card__text-content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50%;

  &--show-more {
    align-items: center;
    text-align: center;
  }
}

.card__icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-bottom: 23px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    border: $border-line-grey;
  }

  &::before {
    top: 0;
    width: 0;
    height: 30px;
  }

  &::after {
    top: 50%;
    width: 30px;
    height: 0;
  }
}

.card__title {
  @include title-small;
  display: flex;
  color: $special-dark-grey;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 14px;

  &--main-product {
    max-width: 70%;
  }
}

.card__list {
  @include list-reset;
}

.card__item {
  display: flex;
  justify-content: space-between;
  color: $dark-grey;
  font-size: 12px;
  line-height: 16px;
}

@media #{$tablet-width} {
  .card {
    position: relative;
    width: 100%;
    padding: 0px 37px 39px;

    &--main-products {
      position: relative;
      height: 430px;
      background-color: $basic-grey;
      padding-top: 161px;
    }

    &--products-additional {
      padding: 0;
    }
  }

  .card__image-wrapper {
    position: absolute;
    top: 10%;
    left: 0;
    transform: translate(50%, -50%);
  }

  .card__content-wrapper {
    flex-direction: column;

    &--additional {
      flex-direction: row;
    }
  }

  .card__title {
    @include title-medium-2;

    &--main-product {
      line-height: 24px;
      max-width: 60%;
      align-items: center;
      margin-right: 0;
    }
  }

  .card__title-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .card__content-wrapper {
    flex-direction: column;
    align-items: initial;
  }

  .card__text-content-wrapper {
    &--additional {
      flex-direction: row;
      align-items: center;
    }
  }

  .card__item {
    font-size: 16px;
    padding-bottom: 9px;

    &:not(:first-child) {
      padding-top: 7px;
    }

    .card__image {
      position: absolute;
      top: -10%;
    }
  }
}

@media #{$desktop-width} {
  .card {
    &--products-additional {
      flex-direction: row;
    }
  }
}
