.catalog__container {
  padding: 0;
  width: 100%;
  margin: 23px auto 17px auto;
  max-width: 1440px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin: 0 auto 68px auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin: 0 auto 75px auto;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 69px 60px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    gap: 62px 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__page-title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0 auto 40px 0;
  font-weight: 400;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 58px auto 82px 0;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 90px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
    margin-bottom: 82px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 19px 20px 25px 20px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 36px 37px 36px;
    background: linear-gradient(#ffffff 73px, #eaeaea 73px);
  }

  @media (min-width: $tablet-width) {
    background: linear-gradient(#ffffff 80px, #eaeaea 80px);
  }
}

.catalog__item--last {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    background: linear-gradient(#ffffff 47px, #eaeaea 47px);
  }
}

.catalog__image-link {
  grid-row: 1 / 3;
  display: block;
  margin: auto;

  @media (min-width: $tablet-width) {
    min-height: 236px;
  }
}

.catalog__image-wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto auto auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 10px auto;
  }
}

.catalog__image {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
    margin-top: 29px;
  }
}

.catalog__image-big {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 206px;
    margin-top: 0;
  }
}

.catalog__title-link {
  text-decoration: none;
  color: #222222;
}

.catalog__title {
  grid-column: 2 / -1;
  margin: 0 0 14px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  max-width: 76px;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    max-width: 159px;
    margin: 0 auto 9px auto;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    max-width: 145px;
    margin: 0 auto 14px auto;
  }
}

.catalog__title-add {
  max-width: 100%;
  margin: 0 auto 8px auto;
  color: #111111;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    margin: 7px auto 15px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 25px auto;
  }
}

.catalog__button {
  grid-column: 1 / -1;
}

.catalog__details {
  grid-column: 2 / -1;
  font-family: "Lato", "Arial", sans-serif;
  margin: 0 0 22px 0;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px 0;
    font-size: 16px;
  }
}

.catalog__details-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  @media (min-width: $tablet-width) {
    padding: 8px 0;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__feature {
  grid-column: 2 / -1;
  margin: 0;
  padding: 0;
}

.catalog__description {
  grid-column: 2 / -1;
  margin: 0;
  padding: 0;
}

.catalog__item-add {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 78px;
  position: relative;

  @media (min-width: $tablet-width) {
    background: transparent;
    padding-top: 181px;
    border: 2px solid #f2f2f2;
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 168px;
    margin-top: 74px;
  }
}

.catalog__title-add::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  width: 2px;
  height: 30px;
  background: #d3d3d3;

  @media (min-width: $tablet-width) {
    top: 77px;
    left: 50%;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    top: 59px;
  }
}

.catalog__title-add::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  width: 2px;
  height: 30px;
  background: #d3d3d3;
  transform: rotate(90deg);

  @media (min-width: $tablet-width) {
    top: 77px;
    left: 50%;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    top: 59px;
  }
}

.catalog__text-add {
  margin: 0 0 21px 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    max-width: 165px;
    margin: 0 auto 89px auto;
  }
}

.catalog__more-button {
  background-color: #f2f2f2;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin: auto auto 0 auto;
  }
}

.catalog__more-button:hover {
  background-color: #ebebeb;
}

.catalog__more-button:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}
