.catalog__title {
  display: flex;
  overflow-wrap: break-word;
  @include title-large;
  line-height: 36px;
  padding: 27px 40px 40px 20px;
  border-bottom: $separator-line-1;
  margin-bottom: 0;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  @include list-reset;
}

.catalog__item {
  border-bottom: $separator-line-2;
}


