.checkbox::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: $separator-line-3;
  background-color: transparent;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 16px;
}

.input-checkbox:checked+.checkbox::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='15' viewBox='0 0 19 15' fill='none'%3E%3Cpath d='M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}
