$checkbox-mobile-size: 30px;
$checkbox-mobile-gap: 16px;
$checkbox-tablet-size: 40px;
$checkbox-tablet-gap: 20px;

.checkbox {
  position: relative;
  padding-left: calc($checkbox-mobile-size + $checkbox-mobile-gap);
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: $checkbox-mobile-size;
    height: $checkbox-mobile-size;
    top: calc(($input-label-height - $checkbox-mobile-size) / 2);
    left: 0;
    border: $separator-line-3;
  }
}

.input-checkbox:checked+.checkbox::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='15' viewBox='0 0 19 15' fill='none'%3E%3Cpath d='M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

@media #{$tablet-width} {
  .checkbox {
    padding-left: calc($checkbox-tablet-size + $checkbox-tablet-gap);

    &::before {
      width: $checkbox-tablet-size;
      height: $checkbox-tablet-size;
      top: calc(($input-label-height-2 - $checkbox-tablet-size) / 2);
    }
  }
}
