.example-wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $light-grey-bg;
  }
}

.example {
  position: relative;
  z-index: 1;
  padding: 25px 20px;
}

.example__title {
  @include title-large;
  line-height: 40px;
  margin-bottom: 32px;
}

.example__description {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;
}

.example__achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__achievement-list {
  @include list-reset;
  display: flex;
  margin-bottom: 34px;

}

.example__achievement-item {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 64px;
  border: $separator-line-3;
  border-radius: 3px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.example__achievement-feature {
  @include title-medium;
  text-transform: uppercase;
}

.example__achievement-value {
  position: absolute;
  display: block;
  bottom: 0;
  transform: translate(-50%, 50%);
  left: 50%;
  width: 87px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 1;
  background-color: $light-grey-bg;
  text-transform: lowercase;
}

.example__summary {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  color: $text-black;
  text-align: center;
}

.example__image-wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 311px;
  height: 232px;
  margin-bottom: 26px;
}

.example__image {
  width: 100%;
  height: 100%;
}

.example__cat-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.example__text-block {
  margin-bottom: 42px;
}

@media #{$tablet-width} {
  .example-wrapper {
    &::after {
      height: 462px;
    }
  }

  .example {
    padding: 43px 30px 70px;
  }

  .example__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 63px;
  }

  .example__text-block {
    margin-bottom: 70px;
  }

  .example__description {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__achievement {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .example__achievement-list {
    margin-bottom: 0;
  }

  .example__achievement-item {
    font-size: 30px;
    min-width: 162px;
    height: 72px;
    padding: 15px 24px 20px;
  }

  .example__achievement-value {
    max-width: 90%;
    width: auto;
    background-color: $color-white;
    padding: 0 8px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
  }

  .example__summary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0;
  }

  .example__cat-slider__wrapper {
    display: flex;
    background-color: $light-grey-bg;
  }

  .example__image-wrapper {
    width: 650px;
    height: 500px;
  }
}

@media #{$desktop-width} {
  .example {
    padding: 0 70px 75px 110px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__main-content {
    display: flex;
  }

  .example__cat-slider {
    position: relative;
    justify-content: flex-end;
    width: 730px;
    flex-shrink: 0;
  }

  .example__text-block {
    margin-bottom: 0;
  }

  .example__description {
    width: 82%;
    margin-bottom: 70px;
  }

  .example__achievement {
    flex-direction: column;
    align-items: flex-start;
  }

  .example__achievement-list {
    margin-bottom: 60px;
  }

  .example__achievement-value {
    background-color: $light-grey-bg;
  }

  .example__summary {
    flex-direction: row;
    font-size: 20px;
  }

  .example__summary-result {
    margin-right: 62px;
  }

  .example__image-wrapper {
    position: absolute;
    left: 0;
    bottom: 50px;
    margin-bottom: 0;
    width: 100%;
    height: 536px;
  }
}
