.example {
  background-color: #eaeaea;
  display: flex;

  @media (min-width: $tablet-width) {
    background: linear-gradient(#ffffff 620px, #eaeaea 620px);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(#ffffff 200px, #eaeaea 200px);
  }
}

.example__container {
  padding-top: 43px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
  }
}

.example__wrapper-desktop {
  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  margin: 0 0 40px 0;
  display: flex;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 63px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 146px 0;
  }
}

.example__text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 38px 0;
  padding: 0;
  display: flex;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px 0;
  }
}

.example__info {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 0;
  }
}

.example__list {
  display: flex;
  justify-content: space-around;
  margin: 0 0 34px 0;

  @media (min-width: $tablet-width) {
    gap: 42px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 55px 0;
    justify-content: left;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  width: 124px;
  height: 70px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 80px;
  }
}

.example__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  background: transparent;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  margin: 14px auto 8px auto;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.example__description {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  margin: 0 auto;
  max-width: 87px;
  padding: 0 14px;
  text-align: center;
  background-color: #eaeaea;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    max-width: 150px;
    padding: 0 8px;
    bottom: -5px;
    left: 10px;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__sum {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    width: 185px;
    text-align: right;
    margin: 0;
    font-size:20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    text-align: left;
    min-width: 300px;
  }
}

.example__image-wrapper {
  position: relative;
}

.example__image {
  display: flex;
  justify-content: center;
}

.example__left-mob,
.example__right-mob {

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.example__slider {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #666666;
  border: none;
  border-radius: 2px;

  @media (min-width: $desktop-width) {
    height: 512px;
  }
}

.example__arrows {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -20px;
  width: 40px;
  height: 40px;
  padding: 11px 8px;
  margin: 0;
  background-color: #ffffff;
  border-radius: 50%;
  border: #666666 solid 2px;
}
