.footer__content {
  padding: 40px 20px 22px;
  background-color: $basic-grey;
}

.footer__logo-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: $separator-line-2;
  padding-bottom: 30px;
}


