.footer {
  background-color: #f2f2f2;
}

.footer__container {
  margin: 0;
  padding: 38px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
    margin: 0 auto;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__logo-image {
  color: #111111;

  @media (min-width: $tablet-width) {
    width: 143px;
    height: 27px;
  }
}

.footer__logo-image:hover,
.footer__logo-image:focus {
  color: #3e3e3e;
}

.footer__logo-image:active {
  color: #6b6b6b;
}
