.footer__content {
  padding: 40px 20px 22px;
  background-color: $basic-grey;
}

.footer__logo-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: $separator-line-2;
  padding-bottom: 30px;
}

@media #{$tablet-width} {
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__logo-wrapper {
    border-bottom: none;
    padding-bottom: 0;
  }
}

@media #{$desktop-width} {
  .footer {
    position: relative;
  }
}
