.form__fieldset {
  display: flex;
  padding: 0 20px 24px;
  border: none;
  margin: 0;

  &:not(:last-child) {
    border-bottom: $separator-line-3;
  }

  &--weight {
    color: $special-dark-grey;
    padding-top: 28px;
  }

  &--additional {
    flex-direction: column;
    color: $text-black;
    padding-bottom: 32px;
  }

  &--user-info {
    padding-top: 39px;
  }
}

.form__legend {
  @include title-medium;
  line-height: 26px;
  padding-top: 24px;
  margin-bottom: 36px;

  &--contacts {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  &--comment {
    position: relative;
  }

  &--additional {
    position: relative;
  }
}

.form__legend-contacts-text {
  display: inline-block;
  padding-right: 14px;
  background-color: $color-white;
  max-width: 71%;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 34px;
    width: calc(100vw - 20px);
    border-bottom: 2px solid #68B738;
  }
}

.form__legend-comment-text {
  display: inline-block;
  padding-right: 22px;
  background-color: $color-white;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 9px;
    width: calc(100vw - 20px);
    border-bottom: 2px solid #68B738;
  }
}

.form__legend-additional-text {
  display: inline-block;
  padding-right: 22px;
  background-color: $color-white;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 9px;
    width: calc(100vw - 20px);
    border-bottom: 2px solid #68B738;
  }
}

.form__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include list-reset;
  @include oswald-regular;
  text-transform: uppercase;
  margin-bottom: 0;

  &--additional {
    margin-bottom: 40px;
  }
}

.form__item {
  display: flex;

  &--user-info:not(:last-child) {
    margin-bottom: 14px;
  }

  &--weight:not(:last-child) {
    margin-bottom: 25px;
  }

  &--contacts:not(:last-child) {
    margin-bottom: 14px;
  }

  &--additional:not(:last-child) {
    margin-bottom: 25px;
  }
}

.form__label {
  position: relative;
  display: flex;
  width: 100%;
  @include oswald-regular;
  font-size: 16px;
  line-height: $input-label-height;
  text-transform: uppercase;

}

.form__label-text {
  display: flex;
  align-items: center;
  margin-right: 0;

  &--main-user-info,
  &--contacts {
    margin-right: 16px;
    flex-shrink: 0;
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  resize: vertical;
  @include oswald-regular;
  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  border: $border-line-light-grey;
  padding: 10px 12px 15px;
}

$input-icon-gap: 45px;

.form__input {
  display: inline-block;
  width: 100%;
  height: 45px;
  outline: none;
  border: $border-line-grey;
  padding: 14px 15px;
  @include oswald-regular;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: uppercase;
  margin: 0;

  &--with-icon {
    padding-right: $input-icon-gap;
  }
}

.form__icon-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $input-icon-gap;
  height: 100%;
  top: 0;
  right: 0;
}

.form__required-fields {
  display: flex;
  justify-content: center;
  margin: 0;
}

.form__submit-button {
  margin-bottom: 21px;
}

@media #{$tablet-width} {
  .form__fieldset {
    &--user-info {
      padding: 0;
      margin-bottom: 72px;
    }

    &:not(:last-child) {
      border-bottom: unset;
    }

    &--weight {
      padding: 25px 28px;
      border: $border-line-light-grey-2;
    }

    &--contacts,
    &--comment {
      padding: 0;
      margin-bottom: 66px;
    }

    &--additional {
      padding: 0;
    }
  }

  .form__label {
    font-size: 20px;
    line-height: $input-label-height-2;

    &--comment {
      padding-left: 40px;
      padding-right: 36px;
    }
  }

  .form__input {
    font-size: 20px;
    line-height: $input-label-height-2;
  }

  .form__legend {
    font-size: 36px;
    line-height: 1;
    padding-top: 0;

    &--comment,
    &--contacts {
      margin-bottom: 76px;
    }

    &--additional {
      margin-bottom: 62px;
    }
  }

  .form__legend-contacts-text {
    padding-left: 40px;
    padding-right: 40px;
    max-width: unset;

    &::after {
      bottom: 12px;
      left: -30px;
      width: 100vw;
    }
  }

  .form__legend-comment-text {
    padding-right: 38px;
    padding-left: 40px;

    &::after {
      content: "";
      bottom: 9px;
      left: -30px;
      width: 100vw;
    }
  }

  .form__legend-additional-text {
    padding-right: 38px;
    padding-left: 40px;

    &::after {
      content: "";
      bottom: 9px;
      left: -30px;
      width: 100vw;
    }
  }

  .form__fieldset-wrapper {
    padding: 0 36px 0 40px;
    margin-bottom: 75px;
  }

  .form__list {
    &--contacts {
      padding: 0 36px 0 40px;
    }

    &--additional {
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 40px;
      padding-right: 36px;
    }
  }

  .form__item {
    &--user-info:not(:last-child) {
      margin-bottom: 20px;
    }

    &--weight:not(:last-child) {
      margin-bottom: 23px;
    }

    &--contacts:not(:last-child) {
      margin-bottom: 20px;
    }

    &--additional:not(:last-child) {
      margin-bottom: unset;
    }

    &--additional {
      width: 50%;
    }

    &--additional:nth-last-child(n+3) {
      margin-bottom: 42px;
    }
  }

  .form__button-wrapper {
    display: flex;
    align-items: center;
  }

  .form__submit-button {
    height: 52px;
    width: 282px;
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 60px;
  }
}

@media #{$desktop-width} {
  .form__fieldset {
    &:not(:last-child) {
      border-bottom: unset;
    }

    &--user-info {
      width: 50%;
      margin-right: 80px;
      margin-bottom: 0;
    }

    &--weight {
      width: 100%;
    }

    &--contacts {
      margin-bottom: 66px;
    }
  }

  .form__legend-contacts-text,
  .form__legend-comment-text,
  .form__legend-additional-text {
    &::after {
      left: -70px;
    }
  }

  .form__fieldset-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 69px;
  }

  .form__label-text {
    align-items: center;
  }

  .form__list {
    &--contacts {
      flex-direction: row;
      justify-content: space-between;
    }

    &--additional {
      width: 100%;
      justify-content: space-between;
    }
  }

  .form__item {
    &--contacts {
      width: 50%;
    }

    &--contacts:not(:last-child) {
      margin-bottom: 0;
    }

    &--contacts:not(:last-child) {
      margin-right: 78px;
    }

    &--additional:nth-last-child(n+3) {
      margin-bottom: unset;
    }

    &--additional {
      width: unset;
    }
  }

  .form__button-wrapper {
    display: flex;
  }

  .form__submit-button {
    margin-right: 80px;
    width: 568px;
  }
}
