.form__fieldset {
  display: flex;
  border: none;
  padding: 25px 20px 24px;
  border-bottom: $separator-line-3;

  &--weight {
    color: $special-dark-grey;
  }

  &--additional {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: $text-black;
  }
}

.form__legend {
  @include title-medium;
  line-height: 26px;
  padding: 0;
}

.form__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include list-reset;
  @include oswald-regular;
  text-transform: uppercase;
}

.form__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.form__label {
  display: flex;
  width: 100%;
  @include oswald-regular;
  font-size: 16px;
  line-height: $input-label-height;
  text-transform: uppercase;

}

.form__label-text {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  flex-basis: 20%;
  align-items: center;
  margin-right: 0;

  &--main-user-info,
  &--contacts {
    margin-right: 12px;
  }
  &.checkbox {
    margin-left: 18px;
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  resize: vertical;
  @include oswald-regular;
  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  border: $border-line-light-grey;
  padding: 10px 15px;
}

.form__input {
  display: flex;
  width: 100%;
  min-height: 45px;
  outline: none;
  border: $border-line-grey;
  padding: 14px 15px;
  @include oswald-regular;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: uppercase;
}

.form__icon {
  position: absolute;
  content: "";
  right: 36px;
  transform: translateY(50%);
  display: flex;
  align-items: center;
}

.form__required-fields {
  display: flex;
  justify-content: center;
  margin: 0;
}
