.program__form {
  margin: 0;
  padding: 0;
}

.form__list,
.form__radio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.form__radio-list {
  @media (min-width: $desktop-width) {
    margin: 32px auto 30px 24px;
  }
}

.form__radio-text {
  display: inline-block;
  margin: auto 0 auto 45px;

  @media (min-width: $tablet-width) {
    margin: auto 0 auto 60px;
  }
}

.form__fieldset {
  border: none;
  padding: 23px 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form__fieldset-info {
  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 0;
  }
}

.form__fieldset-radio {
  @media (min-width: $tablet-width) {
    margin: 0 70px 75px 70px;
    border: 1px solid #e7e7e7;
    padding: 23px 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.form__fieldset-comment {
  margin: 0;
  border: none;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 93px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 95px;
  }
}

.form__fieldset-contacts {
  border: none;
  padding-top: 28px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    padding-top: 0;
  }
}

.form__fieldset-checkbox {
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}

.form__item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
}

.form__item:not(:last-child) {
  margin: 0 0 13px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px 0;
  }
}

.form__title {
  margin: 0 0 31px 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__title-contacts,
.form__title-comment {
  @media (min-width: $tablet-width) {
    margin: 0 0 70px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 67px 0;
  }
}

.form__title-contacts {
  @media (min-width: $desktop-width) {
    margin: 0 0 71px 0;
  }
}

.form__title-comment {
  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
  }
}

.form__title-add {
  margin: 0 0 39px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 55px 0;
  }
}

.form__title-line {
  position: relative;
  padding: 0 20px;
  display: inline-block;
  background: #ffffff;
  left: -22px;

  @media (min-width: $tablet-width) {
    padding: 0 37px;
    left: -37px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    left: -40px;
  }
}

.form__fieldset-line {
  position: relative;
}

.form__fieldset-line::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 2px;
  top: 40px;
  right: 0;
  background: $green;
  z-index: -2;

  @media (min-width: $tablet-width) {
    top: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 21px;
  }
}

.form__label-text,
.form__label-radio,
.form-checkbox-text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label-text {
  color: #444444;
}


.form__label-text-age {
  min-width: 94px;

  @media (min-width: $tablet-width) {
    min-width: 117px;
  }
}

.form__label-text-weight {
  min-width: 60px;

  @media (min-width: $tablet-width) {
    min-width: 75px;
  }
}

.form__label-text-mail {
  min-width: 50px;

  @media (min-width: $tablet-width) {
    min-width: 63px;
  }
}

.form__label-checkbox {
  position: relative;
}

.form-checkbox-text {
  display: inline-block;
  margin: auto 0 auto 46px;

  @media (min-width: $tablet-width) {
    margin: auto 0 auto 60px;
  }
}

.form__input-checkbox[type="checkbox"]:checked + .form__checkbox-mark::before {
  content: url("../img/check.svg");
  position: absolute;
  top: 4px;
  left: 5px;
  width: 18px;
  height: 14px;

  @media (min-width: $tablet-width) {
    content: url("../img/check-big.svg");
    width: 24px;
    height: 19px;
    top: 10px;
    left: 7px;
  }
}

.form__checkbox-mark {
  display: block;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__item-checkbox:hover .form__checkbox-mark,
.form__input-checkbox[type="checkbox"]:focus + .form__checkbox-mark {
  outline: 1px solid #bababa;
}

.form__item-checkbox:disabled .form__checkbox-mark {
  opacity: 0.3;
}

.form__label-radio {
  display: block;
  position: relative;
  color: #222222;
}

.form__input-text[type="text"] {
  padding: 14px 0 14px 20px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  border: 1px solid #e7e7e7;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    color: #444444;
    padding: 14px 0 14px 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 15px 20px;
  }
}

.form__input-text-mail {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: center right 13px;

  @media (min-width: $tablet-width) {
    background-position: center right 16px;
  }
}

.form__input-text-phone {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center right 13px;

  @media (min-width: $tablet-width) {
    background-position: center right 16px;
  }
}

.form__input-text:hover {
  outline: 1px solid #cdcdcd;
}

.form__input-text:focus {
  outline: 2px solid #444444;
}

.form__input-mail[type="text"],
.form__input-phone[type="text"] {
  position: relative;
  background-color: transparent;
}

.form__input-radio,
.form__input-checkbox {
  width: 30px;
  height: 30px;
  margin: 0 16px 0 0;
  padding: 0;
  text-align: center;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input-radio[type="radio"]:checked + .form__radio-mark::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}

input::placeholder,
textarea::placeholder {
  color: #444444;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

textarea::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.form__input-error {
  outline: 2px solid #ff8282;
}

.form__radio-mark {
  display: block;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -4px;
  }
}

.form__radio-item:hover .form__radio-mark,
.form__input-radio[type="radio"]:focus + .form__radio-mark {
  outline: 1px solid #bababa;
}

.form__radio-item:disabled .form__radio-mark {
  opacity: 0.3;
}

.form__comment {
  height: 150px;
  width: 100%;
  border: 1px solid #e7e7e7;
  padding: 9px 13px;

  @media (min-width: $tablet-width) {
    padding: 13px 19px;
  }
}

.form__comment:hover {
  outline: 1px solid #cdcdcd;
}

.form__comment:focus {
  outline: 2px solid #444444;
}

.form__list-checkbox {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 76px;
  }
}

.form__item-checkbox {
  @media (min-width: $tablet-width) {
    width: 230px;
    min-height: 40px;
  }
}

.form__item-checkbox:not(:last-child) {
  margin: 0 0 19px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__item-contacts {
  @media (min-width: $tablet-width) {
    gap: 22px;
  }
}

.form__item-contacts:not(:last-child) {
  margin: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 13px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__add {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 21px auto 32px auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
  }
}

.form__radio-item {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}

.form__radio-item:not(:last-child) {
  margin: 5px 0 25px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 13px 0;
  }
}

.form__button {
  @media (min-width: $tablet-width) {
    width: auto;
    padding: 16px 45px;
    font-size: 20px;
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__wrapper-tablet {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 64px;
    align-items: center;
    margin-bottom: 79px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    gap: 83px;
    padding: 0 110px;
  }
}

.form__fieldset-wrapper,
.form__list-contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 79px;
  }
}

.form__fieldset-wrapper {
  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    padding: 0 110px;
  }
}

.form__fieldset-desktop {
  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__item-contacts {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
