.header {
  background-color: #ffffff;
  min-width: 65px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.header__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header__wrapper-tablet {
  @media (min-width: $tablet-width) {
    margin: 0 0 64px 0;
  }
}

.header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.header__toggle {
  background-color: transparent;
  border: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 110px 32px 110px;
  }
}

.header__wrapper-form,
.header__wrapper-catalog {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
