.nav {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.nav--closed .nav__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
  0 8px 0 0 fade(#ffffff, 30%),
  0 16px 0 0 fade(#ffffff, 30%);
}
