.nav {
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.nav--opened {
  content: "";
  position: absolute;
  top: 63px;
  left: 0;
  width: 100%;
  height: 207px;
  background: #ffffff;
}
