.products-additional {
  padding: 25px 20px;

  & .card {
    padding-left: 0;
    padding-right: 0;
  }

  & .card__item {
    font-size: 14px;
    line-height: 1;
  }

  .products-additional__title {
    position: relative;
    @include title-medium;
    padding-bottom: 36px;
    border-bottom: $border-line-basic-grey;
    line-height: 1;
    padding-right: 22px;
    margin-bottom: 0;

    &::after {
      content: "";
      position: absolute;
      right: -22px;
      bottom: 43px;
      width: 53px;
      border-bottom: $border-line-green;
    }
  }
}

@media #{$tablet-width} {
  .products-additional {
    padding-top: 0;
  }

  .products-additional__title {
    z-index: 1;
    font-size: 36px;
    margin-bottom: 80px;

    &::after {
      z-index: -1;
      min-width: 100%;
      right: -36px;
    }
  }
}
