.program {
  @media (max-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 100px;
  }
}

.program-form {
  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.program__form-intro {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.program-index::before {
  background-image: url("../img/index-background-phone@1x.jpg");
  background-repeat: no-repeat;
  background-color: #68b738;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 302px;
  content: "";
  background-size: cover;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-phone@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/index-background-desktop@1x.jpg");
    display: inline-block;
    width: 50%;
    height: 696px;
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../img/index-background-desktop@2x.jpg");
  }
}

.program__container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 118px 480px 118px;
    position: relative;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 190px 165px 190px;
    position: relative;
  }
}

// .program__form-wrapper {
//   // @media (min-width: $tablet-width) {
//   //   padding-left: 67px;
//   //   padding-right: 70px;
//   // }

//   @media (min-width: $desktop-width) {
//     padding-left: 110px;
//     padding-right: 110px;
//   }
// }

.program__title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 26px auto 38px 0;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 40px 0 54px 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.program__title-form {
  @media (min-width: $tablet-width) {
    margin: 60px 0 54px 0;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 38px auto 54px auto;
    padding: 0;
  }
}

.program__name {
  padding: 30px 0 0 0;
  margin: 0 0 25px 0;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    color: #000000;
    width: 450px;
    text-align: left;
    padding: 60px 0 0 0;
    margin: 0 0 41px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 0 0;
  }
}

.program__name-index {
  padding: 27px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 0 0 0;
  }
}

.program__slogan {
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 39px 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    max-width: 403px;
    margin: 0 0 66px 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 431px;
  }
}

.program__slogan-form {
  margin: 0 0 10px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 61px 0;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 62px 0;
    padding: 0;
  }
}

.program__intro {
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 28px 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    width: 300px;
    justify-content: left;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0 0 49px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.program__image-wrapper {
  margin: 0 auto;
}

.program__image {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 262px;
    left: 0;
    right: 0;
    height: 607px;
    width: 713px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: -10px;
    left: 233px;
    height: 499px;
    width: 552px;
  }
}

.program__button {
  text-align: center;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    max-width: 247px;
    padding: 16px 26px;
  }
}
