$radio-mobile-size: 30px;
$radio-bullet-mobile-size: 14px;
$radio-tablet-size: 40px;
$radio-bullet-tablet-size: 18px;

.radio {
  position: relative;
  padding-left: calc($radio-mobile-size + $radio-bullet-mobile-size);
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    content: "";
    width: $radio-mobile-size;
    height: $radio-mobile-size;
    top: calc(($input-label-height - $radio-mobile-size) / 2);
    left: 0;
    border: $separator-line-3;
  }

  &::after {
    width: $radio-bullet-mobile-size;
    height: $radio-bullet-mobile-size;
    top: calc((($input-label-height - $radio-mobile-size) / 2) + ($radio-mobile-size / 2));
    left: calc($radio-mobile-size / 2);
    transform: translate(-50%, -50%);
    background-color: $basic-green;
  }
}

.input-radio:checked+.radio::after {
  content: "";
}

@media #{$tablet-width} {
  .radio {
    padding-left: calc($radio-tablet-size + $radio-bullet-tablet-size);

    &::before {
      width: $radio-tablet-size;
      height: $radio-tablet-size;
      top: calc(($input-label-height-2 - $radio-tablet-size) / 2);
    }

    &::after {
      width: $radio-bullet-tablet-size;
      height: $radio-bullet-tablet-size;
      top: calc((($input-label-height-2 - $radio-tablet-size) / 2) + ($radio-tablet-size / 2));
      left: calc($radio-tablet-size / 2);
    }
  }
}
