.socials {
  gap: 37px;
  border-bottom: $separator-line-2;
  padding: 22px 94px;
}

.socials__list {
  display: flex;
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

}
