.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0 0 36px 0;

  @media (min-width: $tablet-width) {
    margin: 6px 0 0 17px;
    gap: 27px;
  }
}

.social__list-form {
  margin: 0 0 41px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 15px 0;
  }
}

.social__vk,
.social__yt,
.social__tg {
  color: #666666;
}

.social__vk:hover,
.social__yt:hover,
.social__tg:hover {
  color: #68b738;
}

.social__vk:active,
.social__yt:active,
.social__tg:active {
  color: rgba(104, 183, 56, 0.3);
}
