.sub-promo {
  margin-bottom: 20px;
  padding: 0 20px;
}

.sub-promo__list {
  @include list-reset;
}

.sub-promo__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.sub-promo__card-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.sub-promo__card-image {
  margin-right: 20px;
}

.sub-promo__title-card {
  display: flex;
  margin: 0;
  @include title-medium;
  text-transform: uppercase;
}

.sub-promo__card {
  background-color: $basic-grey;
  padding: 20px;
}

.sub-promo__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $dark-grey;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 22px;
  border-bottom: $separator-line-2;
}

.sub-promo__link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  color: $text-black;
  text-decoration: none;
  padding-top: 19px;
}

.sub-promo__link-title {
  margin-right: 15px;
}

@media #{$tablet-width} {
  .sub-promo {
    margin-bottom: 45px;
    padding: 0 30px;
  }

  .sub-promo__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .sub-promo__card {
    position: relative;
    padding: 76px 316px 56px 52px;
    min-height: 372px;
  }

  .sub-promo__card-wrapper {
    margin-bottom: 0;
  }

  .sub-promo__title-card {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 28px;
  }

  .sub-promo__text {
    font-size: 16px;
    line-height: 24px;
    color: $text-black;
    margin-top: 0;
    margin-bottom: 52px;
    border-bottom: none;
  }

  .sub-promo__link {
    padding-top: 0;
  }

  .sub-promo__link-title {
    font-size: 20px;
    line-height: 30px;
  }

  .sub-promo__card-image {
    position: absolute;
    margin-right: 0;

    &--slim {
      right: 62px;
      top: 81px;
      width: 200px;
      height: 211px;
    }

    &--pro {
      right: 28px;
      top: 91px;
      width: 268px;
      height: 200px;
    }
  }
}

@media #{$desktop-width} {
  .sub-promo {
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 71px;
  }

  .sub-promo__list {
    display: flex;
    justify-content: space-between;
  }

  .sub-promo__item {
    &:not(:last-child) {
      margin-right: 80px;
    }
  }

  .sub-promo__card {
    height: 374px;
    width: 570px;
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 60px;
  }

  .sub-promo__card-wrapper {
    margin-bottom: 40px;
  }

  .sub-promo__card-image {
    position: static;


    &--slim {
      width: 100px;
      height: 106px;
      margin-right: 62px;
    }

    &--pro {
      width: 134px;
      height: 100px;
      margin-right: 46px;
    }
  }

  .sub-promo__title-card {
    margin-bottom: 0;
  }

  .sub-promo__text {
    padding-bottom: 0;
    margin-bottom: 27px;
    width: 100%;
  }
}
