@mixin oswald-regular {
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

@mixin oswald-medium {
  font-family: Oswald, sans-serif;
  font-weight: 500;
}

@mixin lato {
  font-family: Lato, sans-serif;
  font-weight: 400;
}
