@mixin title-large {
  @include oswald-regular;
  font-size: 36px;
  color: $text-black;
  margin-top: 0;
  line-height: 40px;
}

@mixin title-medium {
  @include oswald-regular;
  font-size: 24px;
  color: $text-black;
  margin-top: 0;
}
