.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    background-color: #68B738;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    padding: 7px 0;
    border: 0;
    display: flex;
    justify-content: center;
}

.container {
    margin-right: 20px;
    margin-left: 20px;
}